.business-main-header {
    padding: 12px 0;
    background-color: #d32323;
    position: relative;
}

.business-header-arrange {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.business-header-logo {
    width: 90px;
    height: 40px;
    background-image: url('https://i.imgur.com/4sUdcYO.png');
    background-repeat: no-repeat;
    background-size: 90px 40px;
}

.business-header-logo a {
    font-size: 28px;
    font-weight: 700;
    color: transparent;
}





.business-header-search {
    width: 71%;
}

.business-header-search span {
    font-size: 14px !important;
    padding: 8.5px 12px !important;
}

.business-header-search .search-desc {
    padding-right: 0px !important;
    color: #333;
}

.business-header-search .search-submit {
    background-color: #bd1f1f;
}

.business-header-search button {
    padding: 4px !important;
    vertical-align: middle;
}

.business-header-search .search-submit:hover {
    background-color: #a71c1c;
}




.business-subheader {
    position: relative;
    background-color: #fafafa;
    border-bottom: 1px solid #e6e6e6;
}

.subheader-arrange {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.business-subheader-item {
    display: inline-block;
    font-weight: 600;
    padding: 8px 12px;
    border-left: 1px solid #e6e6e6;
    color: #333;
}

.business-subheader-item:hover {
    color: #0073bb;
    cursor: pointer;
}

.business-subheader-item-last {
    border-right: 1px solid #e6e6e6;
}

.business-subheader-item span {
    margin: 0px 3px;
}

.subheader-icon {
    vertical-align: text-top;
}

.subheader-text{
    font-size: 13px;
}




.business-filter-bar {
    background-color: #f5f5f5;
    padding: 30px 0;
    border-bottom: 1px solid #e6e6e6;
}

.business-filter-content {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.business-filter-title {
    font-size: 21px;
    color: #333;
}

.query-title {
    font-weight: 700;
}

.business-filter-count {
    font-size: 14px;
    color: #333;
}




.business-main-content {
    padding: 18px 0px;
}

.business-main-arrange {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
}

.business-main-arrange > div {
    margin: 0px 15px;
}






.business-index-map {
    border: 1px solid #e6e6e6;
}

.business-map-buttons {
    display: flex;
    justify-content: space-between;
    padding: 6px 4px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #e6e6e6;
}

.business-map-google{
    height: 300px;
    width: 298px;
}

.sticky {
    position: sticky;
    top: 18px;
}

.map-expand-btn {
    color: #0073bb;
    cursor: pointer;
    font-size: 12px;
    font-weight: 700;
    display: flex;
    align-items: center;
}

.map-expand-btn i {
    color: #666;
}

.map-search-btn {
    display: inline-block;
    color: #fff;
    border: 1px solid #d32323;
    background-color: #be2020;
    padding: 5px 8px;
    font-size: 12px;
    line-height: 1.5em;
    cursor: pointer;
    border-radius: 3px;
    font-weight: 700;
}




.session-btns span {
    padding: 8px 12px;
    font-weight: 700;
    font-size: 13px;
    border-radius: 3px;
    cursor: pointer;
}

.session-login-btn {
    color: #fff;
    background: #d32323;
    border: 1px solid #bd1f1f;
    margin-right: 4px;
}

.session-login-btn:hover {
    background: rgba(51,51,51,.3);
}

.session-signup-btn {
    background: #f5f5f5;
    color: #000;
}