.header-image {
    padding-top: 30px;
    background-color: #333;
    background-size: cover;
    background-position: 50%;
    height: 570px;
    background-image: url('https://bit.ly/2QeN1gZ');
}

.background-tint {
    background-color: rgba(0,0,0,.2);
    background-blend-mode: multiply;
}

.header-content {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 15px;
}


.nav-main {
    display: flex;
    justify-content: space-between;
}

.nav-left, .nav-right {
    display: inline-block;
}
 
.nav-content {
    display: flex;
    flex-direction: row;
}

.header-item {
    color: #fff;
    display: block;
    padding: 9px 12px 10px;
    margin-right: 5px;
    font-size: 14px;
    line-height: 1.28571em;
    font-weight: 700;
    background: none;
    border-bottom: 2px solid transparent;
}

.header-item:hover {
    border-bottom: 2px solid white;
}

.signup-btn {
    background: transparent;
    box-shadow: none;
    border-radius: 4px;
    border: 2px solid #fff;
    padding: 7px 24px 8px;
    margin-left: 5px;
}

.signup-btn:hover {
    color: #666;
    background: white;
}



.header-icon {
    display: flex;
    background: none;
    align-items: center;
    border-radius: 3px;
    padding: 0px 7px;
    margin-right: 2px;
}

.header-icon:hover {
    background-color: rgba(0, 0, 0, 0.2);
}







.header-main {
    padding-top: 80px;
}

.header-logo-center {
    text-align: center;
}

.header-logo {
    background-image: url('https://i.imgur.com/EMl0MmA.png');
    background-size: 160px 80px;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0 auto 48px;
}

.header-logo a {
    font-size: 50px;
    line-height: 160px;
    color: transparent;
}


.header-search-elements {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.search-left {
    position: relative;
}

.search-left:after {
    content: "";
    position: absolute;
    top: -3px;
    right: 0;
    bottom: -3px;
    width: 1px;
    background-color: #ccc;
}

.search-left input {
    width: 400px;
}

.search-right input {
    width: 300px;
}

.search-desc, .search-input {
    background-color: white;
    padding: 12px;
    font-size: 18px;
}

.search-desc {
    font-weight: 700;
    color: #666;
}

.search-submit {
    color: #fff;
    background-color: #d32323;
    padding: 0;
    margin: -12px;
    width: 64px;
    text-align: center;
}

.search-submit:hover {
    background-color: #be2020;
}

.search-submit button {
    padding: 12px;
}

.search-start {
    border-radius: 4px 0 0 4px;
}

.search-end {
    border-radius: 0 4px 4px 0;
}



